body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('../img/background-contacts.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.montBlack{
  font-weight: 900;
}
.montLight {
  font-weight: 300;
}

/* Navigation Section */
.navText {
  font-size: 20px;
}

/* contacts section */

#map {
  height: 600px;
}
.contactCol {
  position: relative;
  text-align: center;
}

.contact {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

/* footer section */

#footer {
  text-align: center;
}

.icon {
  color: grey;
}
