
body {
  font-family: 'Montserrat', sans-serif;
}
hr {
  margin: 0 2rem;
}
img {
  height: auto;
}
.montBlack{
  font-weight: 900;
}
.montLight {
  font-weight: 300;
}

/* Navigation Section */
.navText {
  font-size: 20px;
}


/* introduction Section */
#introduction {
  position: relative
}
.introImg {
  opacity: 0.8;
}
.introH3 {
  font-size: 2rem
}
.introSpan {
  font-size: 3rem;
}
.introLogo {
  margin-bottom: 4rem;
  height: 80px;
}
.introContainer {
  color: white;
  position: absolute;
  top: 50%;
  margin-left: 2rem;
}
.introContainer2 {
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

/* about section */

#about {
  margin: 4rem 0;
}

.rowMargin {
  margin: 2rem 0;
}

.colH3 {
  color: #00a8cc;
  font-weight: 700;
  margin-right: 3rem;
}
.colP {
  font-size: 1rem;
}
/* contact section */



/* footer section */

#footer {
  text-align: center;
}

.icon {
  color: grey;
  font-size: 1.25rem;
}

/* media tags */

/* Extra Small Devices, Phones */
@media (max-width : 576px) {
  .colP {
    font-size: 1.25rem;
  }
}
