
body {
  font-family: 'Montserrat', sans-serif;
}
hr {
  margin: 0 2rem;
}
.montBlack{
  font-weight: 900;
}
.montLight {
  font-weight: 300;
}

/* Navigation Section */
#navigation {
  padding: 0 1rem;
}
.navText {
  font-size: 20px;
}
/* introduction Section */
#introduction {
  position: relative
}

#introduction span,h3 {
  padding: 2px 1rem;
  color: white;
}
.introBtn {
  margin-left: 16px;
}
.introImg {
  width: 100%;
}
.introContainer {
  position: absolute;
  top: 50%;
  left: 2rem;
}

/* about section */

#about {
  margin: 4rem 0;
}

.rowMargin {
  margin: 2rem 0;
}

.colH3 {
  color: #00a8cc;
  font-weight: 700;
}
.colP {
  padding: 0 1rem;
}
/* footer section */

#footer {
  text-align: center;
}

.icon {
  color: grey;
}
